.btn {
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта */
  background-color: #3498db; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: 1px solid #3498db; /* Обводка кнопки */
  border-radius: 5px; /* Закругленные углы */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавные переходы цветов */
}

.btn:hover {
  background-color: #2980b9; /* Цвет фона при наведении */
}

.btnItem {
  display: flex;
  gap: 5px;
  width: 50px;
}
